[Unit]
Description=Service Tunnel for {DESCRIPTION}
After=network.target sshd.service

[Service]
Type=simple
ExecStart=/usr/bin/sudo -u {USER} sh -c 'while true; do ssh -o "ExitOnForwardFailure yes" -NR {ADDRESS} {DESTINATION}; sleep 1s; done'
ExecStop=/bin/systemctl kill {FILENAME}
Restart=always
KillMode=process

[Install]
WantedBy=multi-user.target
